/* Estilos específicos para la versión de escritorio */
@media (min-width: 769px) {
    .toggle-button {
    display: none;
    }

    .nav-item::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 4px;
        background-color: transparent; 
        transition: width 0.8s ease-in-out;
    }

    nav a:hover {
        color: rgb(255, 255, 255);
        background-color: rgba(128, 128, 128, 0.288);
    }
    
    .nav-item:hover::after {
        width: 100%;
        background-color: rgb(255, 255, 255);
    }

    nav {
        margin-right: 20px 0; 
        display: block;
        text-align: right;
    }

    .col-md-4.with-margin:last-child {
        margin-right: 0;
    }

    col-md-4.with-margin {
        margin-right: 20px;
    }

    .col-md-4.with-margin:nth-child(3n) {
        margin-right: 0;
    }

    #footer{
    flex-wrap: wrap;
    }

    .footer-box-somos p {
        margin: 25px;
        color: rgb(255, 255, 255);
    }
}
