/*Estilos header general*/
header {
    background-color: rgba(51, 51, 51, 0.2);
    color: white;
    width: 100%;
    backdrop-filter: blur(10px);
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
}

header ul li{
    display: inline-block;
}

/* Estilo para el enlace "La ruta del sabor" */
header h1 a {
    font-family: 'Bungee Spice', cursive;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

/* Estilo al pasar el mouse sobre el enlace "La ruta del sabor" */
header h1 a:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 20px;

    h2 {
        color: #ffbb00c2;
        margin-right: 85px;
    }

}


/*Nav general*/
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0;
}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 0;
    padding: 5px;
}

.nav-item {
    margin: 0;
    padding: 0;
    transition: relative;
}

main {
    margin: 20px;
}