@charset "UTF-8";
/*Import BODY*/
body {
  min-height: 100vh;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

/*Import GENERALES*/
h2 {
  color: rgba(255, 187, 0, 0.7607843137);
}

ul {
  color: rgb(255, 255, 255);
}

ol {
  color: rgb(255, 255, 255);
}

/*Estilos header general*/
header {
  background-color: rgba(51, 51, 51, 0.2);
  color: white;
  width: 100%;
  backdrop-filter: blur(10px);
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
}

header ul li {
  display: inline-block;
}

/* Estilo para el enlace "La ruta del sabor" */
header h1 a {
  font-family: "Bungee Spice", cursive;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

/* Estilo al pasar el mouse sobre el enlace "La ruta del sabor" */
header h1 a:hover {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 20px;
}
.container h2 {
  color: rgba(255, 187, 0, 0.7607843137);
  margin-right: 85px;
}

/*Nav general*/
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0;
}

nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin: 0;
  padding: 5px;
}

.nav-item {
  margin: 0;
  padding: 0;
  transition: relative;
}

main {
  margin: 20px;
}

/* Imagen de cada receta */
main img {
  max-width: 65%;
  height: auto;
  margin-bottom: 10px;
}

/*Footer en general*/
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

/* Estilo para el contenido principal (excluyendo el footer) */
main {
  flex: 1;
}

#footer {
  width: 100%;
  background-color: rgba(51, 51, 51, 0.2);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(10px);
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
}

/*Imagen la ruta del sabor*/
.footer-box-img {
  width: 300px;
  flex-grow: 0;
  max-width: 350px;
  margin-left: 50px;
}

.footer-box-img img {
  width: 100%;
  border: none;
}

.footer-box-img ul li::marker {
  content: none;
}

/*Footer de links*/
.footer-box-links {
  width: 20%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin-left: 270px;
}

.footer-box-links h3 {
  color: rgba(255, 187, 0, 0.7607843137);
}

.footer-box-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-box-links ul li {
  margin-bottom: 10px;
}

.footer-box-links ul li a {
  color: white;
  text-decoration: none;
}

.footer-box-links ul li a:hover {
  text-decoration: underline;
}

/*Footer de info*/
.footer-box-info {
  width: 35%;
  flex-grow: 1;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.footer-box-info-redes ul {
  list-style: none;
  padding: 0;
  display: flex;
  margin-left: 85px;
  justify-content: center;
}

.footer-box-info-redes ul li {
  margin-right: 20px;
}

.footer-box-info-redes ul li:last-child {
  margin-right: 0;
}

.footer-box-info-redes ul li a img {
  margin-top: 10px;
  width: 30px;
  height: 30px;
}

/*Footer de somos*/
.footer-box-somos {
  width: 70%;
  text-align: center;
  margin-top: 20px;
  margin-left: 100px;
  font-size: 0.8em;
}

.footer-box-somos h3 {
  font-size: 1.5em;
  color: rgba(255, 187, 0, 0.7607843137);
}

/*Import LOS MEDIA ESPECIFICOS*/
/* Estilos específicos para la versión de escritorio */
@media (min-width: 769px) {
  .toggle-button {
    display: none;
  }
  .nav-item::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 4px;
    background-color: transparent;
    transition: width 0.3s ease-in-out;
  }
  nav a:hover {
    color: rgb(255, 255, 255);
    background-color: rgba(128, 128, 128, 0.4);
    box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.5);
  }
  .nav-item:hover::after {
    width: 100%;
    background-color: rgb(255, 255, 255);
  }
  nav {
    margin-right: 20px 0;
    display: block;
    text-align: right;
  }
  .col-md-4.with-margin:last-child {
    margin-right: 0;
  }
  col-md-4.with-margin {
    margin-right: 20px;
  }
  .col-md-4.with-margin:nth-child(3n) {
    margin-right: 0;
  }
  #footer {
    flex-wrap: wrap;
  }
  .footer-box-somos p {
    margin: 25px;
    color: rgb(255, 255, 255);
  }
}
/* Estilos específicos para dispositivos móviles */
@media (max-width: 768px) {
  .toggle-button {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 35px;
    color: #ffffff;
    background-color: transparent;
    padding: 10px;
    border-radius: none;
    cursor: pointer;
  }
  .col-md-4 {
    width: 100%;
    margin-bottom: 20px;
  }
  .container {
    margin: 0px;
    display: flex;
  }
  .nav-item:hover {
    margin-right: 10px;
  }
  nav {
    display: none;
    background-color: #333;
    padding: 20px;
    position: absolute;
    top: 60px;
    right: 0;
    width: 200px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  nav.show-nav {
    display: block;
  }
  nav ul {
    list-style: none;
    padding: 0;
  }
  nav li {
    margin-bottom: 10px;
  }
  nav a {
    text-decoration: none;
    color: white;
    display: block;
  }
  #footer {
    flex-direction: column;
    align-items: center;
  }
  .footer-box-img,
  .footer-box-links,
  .footer-box-info {
    width: 100%;
    margin: 10px 0;
    margin-right: 60px;
  }
  .footer-box-links {
    text-align: center;
    margin-right: 235px;
  }
  .footer-box-info {
    width: 100%;
  }
  .footer-box-somos p {
    margin: 0px;
    color: rgb(255, 255, 255);
  }
}
body {
  background: #000000;
}

@keyframes loop {
  0% {
    transform: translate3D(0%, 51%, 0) rotate(0deg);
  }
  5% {
    transform: translate3D(8%, 31%, 0) rotate(18deg);
  }
  10% {
    transform: translate3D(22%, 13%, 0) rotate(36deg);
  }
  15% {
    transform: translate3D(40%, 2%, 0) rotate(54deg);
  }
  20% {
    transform: translate3D(46%, 21%, 0) rotate(72deg);
  }
  25% {
    transform: translate3D(50%, 47%, 0) rotate(90deg);
  }
  30% {
    transform: translate3D(53%, 80%, 0) rotate(108deg);
  }
  35% {
    transform: translate3D(59%, 98%, 0) rotate(125deg);
  }
  40% {
    transform: translate3D(84%, 89%, 0) rotate(144deg);
  }
  45% {
    transform: translate3D(92%, 68%, 0) rotate(162deg);
  }
  50% {
    transform: translate3D(99%, 47%, 0) rotate(180deg);
  }
  55% {
    transform: translate3D(97%, 21%, 0) rotate(198deg);
  }
  60% {
    transform: translate3D(80%, 7%, 0) rotate(216deg);
  }
  65% {
    transform: translate3D(68%, 25%, 0) rotate(234deg);
  }
  70% {
    transform: translate3D(59%, 41%, 0) rotate(251deg);
  }
  75% {
    transform: translate3D(50%, 63%, 0) rotate(270deg);
  }
  80% {
    transform: translate3D(38%, 78%, 0) rotate(288deg);
  }
  85% {
    transform: translate3D(21%, 92%, 0) rotate(306deg);
  }
  90% {
    transform: translate3D(3%, 79%, 0) rotate(324deg);
  }
  100% {
    transform: translate3D(0%, 51%, 0) rotate(360deg);
  }
}
.glow-container {
  overflow-x: hidden;
  overflow-y: hidden;
  position: fixed;
  width: 100%;
  min-height: 100vh;
  z-index: -1;
}

.glow-container .ball {
  pointer-events: none;
  --delay: 0s;
  --size: 0.4;
  --speed: 20s;
  filter: blur(10px);
  aspect-ratio: 1;
  width: calc(150% * var(--size));
  background: linear-gradient(259.53deg, #0a3fff 6.53%, #f55f0a 95.34%);
  filter: blur(10vw);
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  animation: loop var(--speed) infinite linear;
  animation-delay: var(--delay);
  transform-origin: 50% 50%;
  opacity: 1;
}

/*# sourceMappingURL=style-recetas.css.map */
