/* Estilos para la sección de presentación */
.presentacion {
    text-align: center;
    margin: 20px;
}

.presentacion img {
    max-width: 65%;
    height: auto;
    margin-bottom: 10px;
}

.presentacion p {
    margin: 30px;
    margin-inline: 80px;
    font-style: italic;
    color: #6b6b6b;
}