/* Estilos para la sección de presentación */
.presentacion {
    color: #ffbb00c2;
    text-align: center;
    margin: 38px;
    h2 {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

.presentacion img {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    max-width: 65%;
    height: auto;
    margin-bottom: 10px;
}

.presentacion p {
    margin: 30px;
    margin-left: 150px;
    margin-right: 150px;
    font-style: italic;
    color: #ffffff;
}